<%namespace name="jsloader" file="/create/jsloader.html"/>
<%namespace name="dochead"  file="/common/dochead.html"/>
<%namespace name="header"   file="/common/header.html"/>
<%namespace name="footer"   file="/common/footer.html"/>

${dochead.html("Superposed Tests")}
${header.html()}
<div class="sp-create container">
    <div class="howto">
        <a href="http://code.google.com/p/harstorage/wiki/SuperposedTests" target="_blank"><strong>How to aggregate and compare results?</strong></a>
    </div>

    <div class="spinner" id="spinner"></div>

    <form action="display" id="superpose-form" method="get" onsubmit="return false;" role="form" class="form-inline">
        <legend>Aggregate and Compare</legend>

        <div id="container">
            <div class="row" id="s_1">
                <div class="form-group col-lg-2">
                    <label for="s_1_label">Label:</label>
                    <select name="s_1_label" id="s_1_label" class="form-control">
                        % for label in c.labels:
                        <option value="${label}">${label}</option>
                        % endfor
                    </select>
                </div>

                <div class="form-group col-lg-3">
                    <label for="s_1_start_ts">Start:</label>
                    <div class="input-group" id="s_1_start_group">
                        <input name="s_1_start_ts" id="s_1_start_ts" data-format="yyyy-MM-dd hh:mm:ss" class="form-control" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>

                <div class="form-group col-lg-3">
                    <label for="s_1_end_ts">End:</label>
                    <div class="input-group" id="s_1_end_group">
                        <input name="s_1_end_ts" id="s_1_end_ts" data-format="yyyy-MM-dd hh:mm:ss" class="form-control" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>

                <div class="form-group col-lg-2">
                    <label for="s_1_desc">Description</label>
                    <input id="s_1_desc" type="text" name="s_1_desc" value="" placeholder="Enter description" class="form-control" />
                </div>

                <div class="form-group col-lg-1">
                    <label for="s_1_threshold">Filter</label>
                    <input id="s_1_threshold" type="text" name="s_1_threshold" value="10000" placeholder="ms" class="form-control" />
                </div>

                <div class="col-lg-1">
                    <input id="s_1_add" type="image" src="/images/add_button.png" />
                    <input id="s_1_del" type="image" src="/images/remove_button.png" />
                </div>
            </div>
        </div>

        <div class="well">
            <input type="radio" class="checkbox" id="column" name="chart" value="column" checked="yes" /><span class="checkbox-text">Column Chart</span>
            <input type="radio" class="checkbox" id="spline" name="chart" value="spline" /><span class="checkbox-text">Spline Chart</span>
            <input type="radio" class="checkbox" id="bar" name="chart" value="bar" /><span class="checkbox-text">Bar Chart</span>
            <input type="checkbox" class="checkbox" name="table" value="true" checked="yes" /><span class="checkbox-text">Data Table</span><br />
            <button type="submit" id="submit" value="View Result" class="btn btn-default">Submit</button>
        </div>
    </form>
</div>
${jsloader.html()}
${footer.html()}