<%def name="html(title)">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>${title}</title>

    <link rel="stylesheet" type="text/css" href="/styles/main.css?ver=${c.rev}" />
    <!--[if IE]>
        <link rel="stylesheet" type="text/css" href="/styles/main-ie.css?ver=${c.rev}" />
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css?ver=${c.rev}" />
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap-theme.min.css?ver=${c.rev}" />
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap-datetimepicker.min.css?ver=${c.rev}" />
    <script type="text/javascript" src="/combine/scripts?LAB.min.js&ver=2.0.3&preferences.js&ver=${c.rev}"></script>
</head>
<body>
</%def>